.input-playername{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.name-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100; 
    color:rgba(181, 181, 129, 0.367); 
    text-align: left;
    /* display: none; */
}

label:active {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 100; 
    color: #eeeeee; 
    /* display: block; */
}

.pname-input-field{
    background-color: #393e46;
    height: 50px;
    width: 262px;
    color: #eeeeee;
    border: solid 1px;
    border-color: #393e46;
    align-items: center;
    text-align: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    font-weight: 100; 
}

*:focus {outline:none !important}

input[type=text]:focus {
    background-color: #3d4147;
}

