.square{
    border: solid 1px;
    background-color: teal;
	font-size: 30px;
    width: 98px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 100;
}