.App {
  text-align: center;
  margin: 0px auto;
  height: 100vh;
  max-width: 480px;
  min-width: 320px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fafafa;
  overflow-x: hidden;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
::-webkit-scrollbar {
  display: none;
}

/* background-color: #294a8b;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
font-size: calc(10px + 2vmin);
color: white;

max-width: 480px;
margin: auto; */